channels
channels-redis
dash
dash-bootstrap-components
dash-daq
dash-renderer
Django
django_plotly_dash
djangorestframework
djangorestframework-simplejwt
django-ckeditor
django-cors-headers
django-markdownfield
dpd-static-support
multipledispatch
pandas
pillow
plotly
scikit-image
whitenoise