{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <div class="mb-3">
                        <label for={{field.name}} class="form-label">{{field.name}}:</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <input type="submit" value="Submit" class="btn btn-outline-info">
            </div>
        </form>
    </div>
{% endblock content %}
